<div class="row">
    <div id="breadcrumb" class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">tests</a></li>
            <li><a href="#">test Synchro</a></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="box-name">
                    <i class="fa fa-usd"></i>
                    <span>Mes Catégroies</span>
                </div>
                <div class="box-icons">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="expand-link">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
                <div class="no-move"></div>
            </div>
            <div class="box-content no-padding" id="fileListBox">
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <span id="spanAlert"></span>
                </div>
                <button type="button" id="startbtn" value="Lancer" class="btn btn-primary" data-loading-text="<span class='glyphicon glyphicon-refresh spin'></span>Loading">
                    Lancer
                </button>
                <button type="button" id="stopbtn" value="Arreter" class="btn btn-primary">Arreter</button>
                <div>
                    Elapsed Time : 
                    <span id="elapsedTimeSpan"></span>
                </div>
                <div id="listfiles">
                    <ul></ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
<script src="~/signalr/hubs"></script>
<script type="text/javascript">
    $(function () {
        $.connection.hub.logging = true;
        var listFilesBloc = $("#listfiles ul");

        var filesHub = $.connection.filesHub;

        filesHub.client.addFile = function (file, isMatched) {
            $("<li id='" + file + "'>" + file + " : " + isMatched + "</li>").appendTo(listFilesBloc);
        };

        filesHub.client.end = function (elapsedTime, count) {
            elapsedTimeSpan.html('<strong>' + elapsedTime + '</strong> for <strong>' + count + ' items.</strong>');
            btnStart.button('reset');
            btnStart.prop('disabled', false);
        };

        var startURl = '@Url.Action("Lancer", "Test")';
        var stopURl = '@Url.Action("Arreter", "Test")';
        var btnStart = $('#startbtn');
        var btnStop = $('#stopbtn');
        var elapsedTimeSpan = $('#elapsedTimeSpan');
        btnStop.prop('disabled', true);

        var alert = function (message) {
            $('#spanAlert').text(message);
            $('.alert').alert();
        };

        $.connection.hub.start({ transport: ['longPolling'] }).done(function () {
            $('.alert').alert('close');
            $(document).on("click", "#startbtn", function (e) {
                btnStart.button('loading');
                btnStop.prop('disabled', false);
                listFilesBloc.empty();
                filesHub.server.lancer();
            }).on('click', '#stopbtn', function (e) {
                filesHub.server.arreter();
                btnStart.button('reset');
                btnStart.prop('disabled', false);
            });

        });
    });
</script>
